<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Classificação por Setor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Empregados Classificados por Setor</h2>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Salário Bruto</th>
                <th>Salário Líquido</th>
                <th>Departamento</th>
            </tr>
            {{#each empregados}}
            <tr>
                <td>{{this.nome}}</td>
                <td>{{this.salarioBruto}}</td>
                <td>{{this.salarioLiquido}}</td>
                <td>
                    {{#switch this.departamento}}
                        {{#case 1}}Administrativo{{/case}}
                        {{#case 2}}Designer{{/case}}
                        {{#case 3}}Contabil{{/case}}
                        {{#case 4}}Fábrica{{/case}}
                    {{/switch}}
                </td>
            </tr>
            {{/each}}
        </table>
        <a href="/">Voltar</a>
    </div>
</body>
</html>
